* {
  padding: 0;
  margin: 0;
}

@keyframes siren {
  0% {
    background-color: red;
  }
  100% {
    background-color: blue;
  }
}

body {
  /* position: absolute;
  top: 50%;
  left: 50%;
  width: 100px;
  height: 100px; */
  animation: siren 2s infinite alternate;
}

@keyframes ambulance {
  0% {
    left: 0%;
  }
  100% {
    left: 100%;
  }
}

img {
  /* margin-top: 35%; */
  width: 25%;
  height: auto;
  position: absolute;
  animation: ambulance 5s infinite ease-in-out;
}

@media screen and (min-width: 800px) and (max-width: 1200px) {
  @keyframes ambulance {
    0% {
      top: 0%;
      left: 0%;
    }
    100% {
      top: 100%;
      left: 100%;
    }
  }

  img {
    width: 25%;
    height: auto;
    position: absolute;
    animation: ambulance 5s infinite ease-in-out;
  }
}

@media screen and (min-width: 400px) and (max-width: 800px) {
  @keyframes ambulance {
    0% {
      top: 100%;
      left: 100%;
    }
    100% {
      top: 0%;
      left: 0%;
    }
  }

  img {
    width: 25%;
    height: auto;
    position: absolute;
    animation: ambulance 5s infinite ease-in-out;
  }
}

@media screen and (min-width: 0px) and (max-width: 400px) {
  @keyframes ambulance {
    0% {
      top: 0%;
      left: 100%;
    }
    100% {
      top: 100%;
      left: 0%;
    }
  }

  img {
    width: 25%;
    height: auto;
    position: absolute;
    animation: ambulance 5s infinite ease-in-out;
  }
}
