* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
/* ///////////////////////////// */

/* Navbar */
.navbar,
ul {
  align-items: center;
  display: flex;
  list-style-type: none;
  margin: 1vh 3vw;
  padding: 0 5px;
}

.navbar_item_left {
  margin-right: auto;
}

.logo {
  color: #000000;
  font-weight: bold;
  font-size: 2em;
  text-decoration: none;
}

.i_logo {
  color: #97ce4c;
}

.morty_logo:hover {
  text-decoration: underline;
}

.sub_heading {
  font-size: 0.5em;
}

.logo:hover {
  color: #000000;
  text-shadow: 2px 2px 20px #97ce4c;
}

.navbar_item_wrapper {
  margin: auto;
  align-items: center;
  display: flex;
  justify-content: center;
}

.navbar_item {
  margin: 5em;
}

.item {
  color: #000000;
  font-weight: lighter;
  font-size: 1.2em;
  text-decoration: none;
}

.item:hover {
  color: #444444;
  text-shadow: 2px 2px 20px #97ce4c;
  text-decoration: underline;
}

.search_bar {
  border: 1px solid rgba(0, 0, 0, 0.3);
  margin-top: 5px;
  padding: 5px 20px;
  border-radius: 25px;
}
/* ///////////////////////////// */

/* Hero Banner */
.syn {
  margin: 3vw;
  display: flex;
  flex-direction: row;
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-radius: 10px;
}

.syn:hover {
  box-shadow: 2px 2px 20px #97ce4c;
  border-color: #97ce4c;
}

.syn_cover {
  height: 315px;
  border-radius: 10px;
  font-style: italic;
  color: #a9a9a9;
  font-weight: lighter;
  border-right: 1px solid rgba(0, 0, 0, 0.3);
  text-align: center;
  overflow: hidden;
  object-fit: contain;
}

.syn_content {
  flex: 1;
  padding: 0 5px;
  padding-left: 20px;
}

.syn_heading {
  font-weight: lighter;
  font-size: 1.8em;
  font-weight: 500;
  padding-top: 2em;
}

.syn_text {
  font-size: 1em;
  padding-top: 30px;
  line-height: 2em;
  font-weight: lighter;
}
/* ///////////////////////////// */

/* Feed */
.feed_heading {
  margin: 0 3vw;
  font-weight: lighter;
  font-size: 1.8em;
}

.feed_wrapper {
  align-items: center;
  display: flex;
  justify-content: center;
  margin: 2.5vw 3vw;
}

.feed_column {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex: 1;
  margin: 0 50px;
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-radius: 10px;
}

.feed_column:hover {
  box-shadow: 2px 2px 20px #97ce4c;
  border-color: #97ce4c;
}

.feed_inner_heading {
  font-weight: lighter;
  font-size: 2em;
  padding-left: 10px;
  font-style: italic;
}

.feed_info {
  width: 100%;
}

.feed_info_text {
  padding: 20px 15px 15px 15px;
}

/* Episodes */
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
}

td,
th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}

.ep_link {
  color: #000000;
  text-decoration: none;
}

.ep_link:hover {
  text-decoration: underline;
}
/* ///////////////////////////// */

/* Footer */
.footer_container {
  position: fixed;
  width: 100%;
  text-align: center;
  bottom: 0;
  left: 0;
  font-weight: lighter;
  color: #000000;
  border-top: 1px solid rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  background-color: #ffffff;
}
